# Contenedor
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
# Conexión a bd
PGHOST=
PGDATABASE=
PGPORT=
# Usuarios de BD
VET_LOPEZ_PASS=
VET_GARCIA_PASS=
VET_MENDEZ_PASS=
RECEPCION_PASS=
ADMIN_PASS=
# Redis
REDIS_HOST=
REDIS_PORT=
# API
PORT=
FRONTEND_ORIGIN=
#Front
NEXT_PUBLIC_API_URL=